html, body {
  height: 100%;
  background-color: #303030;
  margin: 0 0 0 0
}

h3 {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
}


.leaflet-container {
  height: 100%;
}
.map {
  height: 100%;
  width: auto;
  margin-left: 0em;
  margin-right: 0em;
  margin-bottom: 2em;
}

.container {
  height: 600px;
}

.mapContainer {
  height: 90%;
}

.maxHeight {
  height: 100%;
}

.container {
  height: 100%;
}

.mainContainer {
  height: 100%;
  width: 100%;
}

.sideMenu {
  height: 10%;
  padding: 2em 4em 0.5em 2em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.0);
}

.logo {
  height: 100px;
  width: 100px;
}
